<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask React Communication</title>
</head>
<body>
    <h1>GSMR Control center Communication</h1>


        {% for i in range(0,len) %}
        <div style="padding:10px; background-color: #EEE; margin:20px">
            <p>sending stamp utc + 2: {{sendingStamps[i]}} <span style="float: right;">{{ messages[i] }}</span></p>
            <p>received stamp: {{receivedStamps[i]}}</p>
        </div>
        {% endfor %}


</body>
</html>